.App {
  font-family: sans-serif;
  text-align: center;
}

.data-individual {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}
